@use "@/scss/common.scss";

.editControls {
  --minPref: 500px;
  @extend %constrained;
  display: grid;
  grid-template-areas: 'history fret general';
  grid-template-columns: 7rem auto 7rem;
  grid-template-rows: 4rem;
  justify-items: center;
  align-items: center;
}

@media (max-width: 500px) {
  .editControls {
    --minPref: 300px;
    grid-template-areas: 'fret fret' 'history general';
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.editHistory {
  grid-area: history;
}

.editFret {
  grid-area: fret;
  display: flex;
  align-items: center;
}

.editGeneral {
  grid-area: general;
}

.fretInput {
  text-align: center;
  display: flex;
  flex-direction: column;

  input {
    margin: auto;
    border: none;
    font-size: 2.5rem;
    text-align: center;
  }
}